/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


body {
	font-family: "proxima nova", helvetica, arial, sans-serif;
	font-weight: 100;
	background: #f4f4f4;
	color: #444;
	line-height: 1.75em;
}

h1, h2, h3 {
	margin-bottom: 12px;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.5em;
	opacity: 0.5;
}

a {
	color: inherit;
}

p {
	margin-bottom: 12px;
	font-size: 0.9em;
}

.clear {
	clear: both;
}

section, article, .container {
	@include box-sizing(border-box);
	padding: 2em;
	background: #fff;

	&.blank {
		padding: 0;
	}


	img {
		max-width: 100%;
	}

	p {
		&.last-child {

		}
	}

	ul.list-generic {

		li {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			padding-left: 0.5em;
			border-bottom: 1px solid #cecece;
			background: #f6f6f6;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h1 {
			font-size: 1.3em;
			margin-bottom: 0em;
		}

		h2 {
			font-size: 0.8em;
			margin-bottom: 0em;
			text-transform: uppercase;
			font-weight: 500;
		}

		p {
			font-size: 0.9em;
			margin-bottom: 0em;
		}
	}
}

body > section, body > header, body > footer {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 20px;
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
			border: 0;
			padding: 0;

			a {
				color: inherit;
				display: block;
				float: left;
				background: #cecece;
				padding: 0.5em 1.5em;
				text-decoration: none;
			}
		}
	}
}

.clear {
	clear: both;
}

.lefty {
	float: left;
}

img.lefty {
	margin-right: 12px;
}

.righty {
	float: right;
}

img.righty {
	margin-left: 12px;
}





.button, input[type="button"] {
	background: #a2c15f;
	padding: 0.7em 1em;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	border: 0px;
	font-size: 1em;
	font-family: "proxima nova", helvetica, arial, sans-serif;
	cursor: pointer;

	&.button-pressable {
		border-bottom: 0.20em solid #a2a2a2;
		padding-bottom: 0.5em;
	}

	&.button-red {
		background: #ef4040;
	}
}

// Bootstrap styles

.btn {
	@extend .button;
}








