/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../sass/screen.scss */
body {
  font-family: "proxima nova", helvetica, arial, sans-serif;
  font-weight: 100;
  background: #f4f4f4;
  color: #444;
  line-height: 1.75em; }

/* line 18, ../sass/screen.scss */
h1, h2, h3 {
  margin-bottom: 12px; }

/* line 22, ../sass/screen.scss */
h1 {
  font-size: 2.2em; }

/* line 26, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  opacity: 0.5; }

/* line 31, ../sass/screen.scss */
a {
  color: inherit; }

/* line 35, ../sass/screen.scss */
p {
  margin-bottom: 12px;
  font-size: 0.9em; }

/* line 40, ../sass/screen.scss */
.clear {
  clear: both; }

/* line 44, ../sass/screen.scss */
section, article, .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
  background: #fff; }
  /* line 49, ../sass/screen.scss */
  section.blank, article.blank, .container.blank {
    padding: 0; }
  /* line 54, ../sass/screen.scss */
  section img, article img, .container img {
    max-width: 100%; }
  /* line 66, ../sass/screen.scss */
  section ul.list-generic li, article ul.list-generic li, .container ul.list-generic li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px solid #cecece;
    background: #f6f6f6; }
    /* line 73, ../sass/screen.scss */
    section ul.list-generic li:last-child, article ul.list-generic li:last-child, .container ul.list-generic li:last-child {
      margin-bottom: 0; }
  /* line 78, ../sass/screen.scss */
  section ul.list-generic h1, article ul.list-generic h1, .container ul.list-generic h1 {
    font-size: 1.3em;
    margin-bottom: 0em; }
  /* line 83, ../sass/screen.scss */
  section ul.list-generic h2, article ul.list-generic h2, .container ul.list-generic h2 {
    font-size: 0.8em;
    margin-bottom: 0em;
    text-transform: uppercase;
    font-weight: 500; }
  /* line 90, ../sass/screen.scss */
  section ul.list-generic p, article ul.list-generic p, .container ul.list-generic p {
    font-size: 0.9em;
    margin-bottom: 0em; }

/* line 97, ../sass/screen.scss */
body > section, body > header, body > footer {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px; }

/* line 104, ../sass/screen.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 109, ../sass/screen.scss */
  nav ul li {
    display: inline;
    border: 0;
    padding: 0; }
    /* line 114, ../sass/screen.scss */
    nav ul li a {
      color: inherit;
      display: block;
      float: left;
      background: #cecece;
      padding: 0.5em 1.5em;
      text-decoration: none; }

/* line 126, ../sass/screen.scss */
.clear {
  clear: both; }

/* line 130, ../sass/screen.scss */
.lefty {
  float: left; }

/* line 134, ../sass/screen.scss */
img.lefty {
  margin-right: 12px; }

/* line 138, ../sass/screen.scss */
.righty {
  float: right; }

/* line 142, ../sass/screen.scss */
img.righty {
  margin-left: 12px; }

/* line 150, ../sass/screen.scss */
.button, .btn, input[type="button"] {
  background: #a2c15f;
  padding: 0.7em 1em;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  border: 0px;
  font-size: 1em;
  font-family: "proxima nova", helvetica, arial, sans-serif;
  cursor: pointer; }
  /* line 161, ../sass/screen.scss */
  .button.button-pressable, .button-pressable.btn, input[type="button"].button-pressable {
    border-bottom: 0.20em solid #a2a2a2;
    padding-bottom: 0.5em; }
  /* line 166, ../sass/screen.scss */
  .button.button-red, .button-red.btn, input[type="button"].button-red {
    background: #ef4040; }
